*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

.header__container{
    width: 100%;
    height: 40px;
    background-color: #22252E;
    padding-left: 495px;
}

.alert-icon{
    display: inline-block;
    margin: auto 0;
    padding-top: 12px;
    margin-right: 4px;
}

.text__container {
    display: inline-block;
    height: 16px;
}

.protection {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color:#FF8D00;
}

nav {
    display: inline-block;
    margin-left: 243.5px;
    margin-top: 52px;
    margin-bottom: 50px;
}

.company{
    margin-left: 150px;
    margin-top: 52px;
    display: inline-block;
}

.nav_container {
    display: inline-block;
}

.nav_txt{
    display:inline-block;
    font-weight: 500;
    margin-right: 8px;
}

.copy {
    margin-bottom: 2px;
    margin-right: 30px;
}

.nav__txt {
    display:inline-block;
    font-weight: 500;
    margin-right: 30px;
}

.registration {
    display: inline-block;
    margin-left: 140px;
}

.log_box {
    display:inline-block;
    width: 90px;
    height: 45px;
}

.reg_box {
    display: inline-block;
    width: 160px;
    height: 40px;
}