*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

.header__container{
    width: 100%;
    height: 40px;
    background-color: #22252E;
    padding: 8px 0;
    padding-left: 495px;
}

.alert-icon{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    display: inline-block;
}

.protection {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color:#FF8D00;
    position: absolute;
    top:12px;
    margin-left: 4px;
}